<h2>{{ isEditMode ? 'Actualizar Cliente' : 'Crear Cliente' }}</h2>
<form (ngSubmit)="onSubmit()">
  <label>
    Nombre:
    <input [(ngModel)]="newCliente.nombre" name="nombre" required>
  </label>
  <label>
    Cédula:
    <input [(ngModel)]="newCliente.cedula" name="cedula" required>
  </label>
  <label>
    Dirección:
    <input [(ngModel)]="newCliente.direccion" name="direccion" required>
  </label>
  <label>
    Email:
    <input [(ngModel)]="newCliente.email" name="email">
  </label>
  <button type="submit">{{ isEditMode ? 'Actualizar' : 'Crear' }}</button>
</form>
<div>
    <ul>
      <li *ngFor="let client of clientes">
            <strong>Nombre: </strong>{{ client.nombre }} <br>
            <strong>Id: </strong>{{ client.clienteId }}, <br>
            <strong>Cédula: </strong>{{ client.cedula }}, <br>
            <strong>Dirección: </strong>{{ client.direccion }}, <br>
            <strong>Email: </strong>{{ client.email }} <br>
            <button *ngIf="client.clienteId !== undefined" (click)="eliminarCliente(client.clienteId)">Eliminar</button>
            <button (click)="seleccionarCliente(client)">Actualizar</button><br>
        </li>
    </ul>
</div>
<hr>
<a>cdcefwefewdewdew</a>